* {
    margin: 2%;
}

.front {
    font-size: 300%;
    color: pink;
}
 .fronta {
    text-decoration: none;
 }

 .name {
    text-align: center;
 }

 .category {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 6%;
 }

 .categoryoptions {
    color: gray;
    text-decoration: none;
    font-size: 150%;
 }

 .main {
    display: grid;
    grid-template-rows: 15% 15% 15% 15% 15% 15% 15% 15%;
    grid-template-columns: 60%;
    align-items: center;
 }

 .categorylist {
    background-color:lightblue;
    padding: 5%;
    font-size: 150%;
    color: black;
    text-decoration: none;
 }


 .cards {
    width: 27%;
    box-shadow: 2px 2px 10px black;
    display: inline-block;
}

.image img {
    width: 100%;
}

.title {
    text-align: center;
}

.des {
    text-align: center;
}

.readmore {
    text-decoration: none;
}
